@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-heading {
    text-align: center;
}
.section-heading h2 {
    padding: 1rem 0;
}
.section-heading hr {
    width: 2.5rem;
    margin: 0 auto;
    border-width: 2px;
    border-color: #5C258D;
}
.section-heading p {
    padding: 0.5rem;
}
/* -- Header Style -- */
header {
    background: #d2dae2;
    position: fixed;
    width: 100%;
}
.logo > img {
    width: 100%;
    height: 100%;
    max-width: 200px;
    text-align: center;
}

nav ul {
    list-style: none;
    width: 30vw;
    display: flex;
    justify-content: space-around;
}
nav ul li a.nav-link {
    text-decoration: none;
    color: #1e272e;
    font-weight: 500;
}

/* -- Hero Style -- */
#hero {
    padding: 80px 0 0;
    background-image: linear-gradient(90deg, #4389A2, #5C258D);
}
.hero-text {
    width: 50%;
    height: auto;
    padding: 2rem;
}
.hero-text > p {
    text-align: justify;
}
.hero-img {
    width: 50%;
    height: auto;
}
.hero-img > img {
    width: 100%;
    height: auto;
    margin-bottom: -4px;
}

/* -- Features Style -- */
#features {
    padding: 3.5rem 0;
    background: rgba(72, 84, 96, 0.5);
}
.feature-item {
    width: 33.33%;
    height: auto;
    text-align: center;
    padding: 0.75rem;
}
.feature-item > h3 {
    padding: 1.5rem 0;
}
.feature-item > p {
    line-height: 1.6;
}
/* -- Download Style -- */
#download {
    padding: 3.5rem 0;
    background-image: linear-gradient(180deg, #4389A2, #5C258D);
}
.app-video {
    width: 50%;
    padding: 1.25rem;
}
.app-video > iframe {
    width: 100%;
}
.app-overview {
    width: 50%;
    height: auto;
    padding: 1.25rem;
}
.app-overview > h3 {
    padding: 1.5rem 0;
}
.app-overview > p {
    line-height: 1.6;
    margin-bottom: 1rem;
}
.download-store img {
    width: 100px;
    height: auto;
}

/* -- Media Query Style -- */
#subscribe {
    padding: 3.5rem 0;
    background: rgba(72, 84, 96, 0.5);
}
form {
    text-align: center;
}
input[type="email"] {
    max-width: 300px;
    width: 100%;
    padding: 0.75rem 1rem;
    margin: 1rem 0;
    border-radius: 6px;
    border: none;
}
input[type="email"]:focus {
    border-color: #4389A2;
    outline: none;
}
input[type="submit"]{
    padding: 0.5rem 1rem;
    border: none;
    background: #4389A2;
    margin: 0.25rem 0;
    cursor: pointer;
}

/* -- Media Query Style -- */
footer {
    text-align: center;
    background: #808e9b;
    padding: 1.5rem;
    color: #485460;
}

/* -- Media Query Style -- */
@media (max-width: 768px){
    .full-width {
        width: 100%;
    }
    #hero {
        padding-top: 11rem;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        padding: 0.5rem 0;
    }
    .flex-box {
        flex-direction: column;
    }
    .feature-item {
        width: 100%;
    }
}